// Headline/Display - Rebound
// ==================================

// Headline
@font-face {
  font-family: "dragonhelm";
  src: url("../fonts/dragonhelm.woff2") format("woff2"),
    url("../fonts/dragonhelm.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

// Body
@font-face {
  font-family: "esther-regular";
  src: url("../fonts/esther-regular.woff2") format("woff2"),
    url("../fonts/esther-regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
