@use "fonts";

// Font Family
$header-font: "dragonhelm";
$body-font: "esther-regular";

// Font Size (Mobile First)
$body: 16px;
$header: 24px;
$subhead: 18px;
$display: 36px;
$caption: 10px;

// Font Size (Tablet)
$m-body: 18px;
$m-header: 28px;
$m-subhead: 20px;
$m-display: 48px;
$m-caption: 12px;

// Font Size (Desktop)
$l-body: 20px;
$l-header: 32px;
$l-subhead: 24px;
$l-display: 64px;
$l-caption: 14px;

// Colors
// Primary
$black: #1B1A1A;
$white: #FFFDFB;

// Primary - Accent
$yellow: #cb9800;

// Utility
$darkgrey: #3e3e3e;
$grey: rgb(139, 139, 139);
$lightgrey: rgb(231, 231, 231);

// Decoration
$decor-post: -1;